{% block content %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="color:#ffffff; background-color:#336fa0;">
    <div class="container-fluid">
      <a class="navbar-brand" style="color:#ffdb4f;" href="#">Spelunker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">LINUX</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PROGRAMMING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Django</a></li>
              <li><a class="dropdown-item" href="#">Flask</a></li>
              <li><a class="dropdown-item" href="#">Bootstrap</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="meta_data">{{ a_name }}</h3>
      </div>
      <div class="col-8" style="text-align: center;">
          <h1 class="title align-text-bottom">{{ t_title }}</h1>
                </div>
              <div class="col">
        <h3 class="meta_data">{{ d_date }}</h3>
          </div>
    </div>
</div>  


  <div class="container">
    <div class="row">
      <div class="col">
        <img height=200 width=200 src={{ img_f }}>
      </div>
      <div class="col-6">
          <p>{% include "content.html" %}</p>
                </div>
              <div class="col">
        3 of 3
          </div>
    </div>
</div>

{% endblock %}